<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBAicKSwzU3I7gQC7tV9Y0OQ6YNuaOuyw</string>
	<key>GCM_SENDER_ID</key>
	<string>1726906151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dummy</string>
	<key>PROJECT_ID</key>
	<string>dummy-auth-3bbb6</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-auth-3bbb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1726906151:ios:24380632de73ebfe413302</string>
</dict>
</plist>